[package]
name = "pywry"
version = "0.1.2"
edition = "2021"
include = ["assets/"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "pywry"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.17", features = ["extension-module"] }
wry = "0.23"
image = {version="0.24.5", default-features = false, features = ["png"] }
tokio-tungstenite = "0.18"
tokio = { version = "1.23.0", features = ["rt", "rt-multi-thread"] }
futures-util = { version="0.3.25", feautres=["stream"]}
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
