[package]
name = "pywry"
version = "0.3.5"
edition = "2021"
include = ["assets/"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "pywry"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "^0.18", features = ["extension-module"] }
wry = {git="https://github.com/tauri-apps/wry"}
image = {version="^0.24.5", default-features = false, features = ["png"] }
tokio-tungstenite = "^0.18"
tokio = { version = "^1.23.0", features = ["rt", "rt-multi-thread"] }
futures-util = { version="^0.3.25", feautres=["stream"]}
serde = { version = "^1.0", features = ["derive"] }
serde_json = "^1.0"
mime_guess = "^2.0"
urlencoding = "^2.1.2"
